:root {
  --color-light-100: #ffffff;
  --color-light-900: #cccccc;
  --color-accent-100: #bea6ff;
  --color-accent-300: #b399ff;
  --color-accent-500: #8c61ff;
  --color-accent-700: #6633cc;
  --color-accent-900: #8a2be2;
  --color-dark-300: #6d6d6d;
  --color-dark-100: #999999;
  --color-dark-500: #444444;
  --color-danger-500: #e53935;
  --color-info-500: #2196f3;
  --color-success-100: #80ffbf;
  --color-success-300: #22e584;
  --color-success-500: #14cc70;
  --color-success-700: #0f9954;
  --color-success-900: #0a6638;
  --color-info-100: #73a5ff;
  --color-info-300: #4c8dff;
  --color-info-500: #397df6;
  --color-info-700: #2f68cc;
  --color-info-900: #234e99;
}
